{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

        <div class="container-fluid blog">
            <div class="container">
                <div class="mx-auto text-center mb-5">
                    <h5 class="section-title py-5 px-3">Paquetes</h5>
                    <h3 class="mb-0">Paquetes Argentina</h3>
                </div>

                 <!-- Packages -->
                <div class="container-fluid blog">
                    <div class="container ">
                        <div class="row g-4 justify-content-center">
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-item rounded container-paquete">
                                    <div class="blog-img">
                                        <div class="blog-img-inner rounded">
                                            <img class="img-fluid w-100" src="../img/neuquen.jpg" alt="Paquete Neuquén">
                                        </div>
                                        <div class="blog-info d-flex align-items-center">
                                            <small class="flex-fill text-center text-white py-2"><i class="fa fa-calendar-alt text-warning me-2"></i>28 Jan 2050</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-thumbs-up text-warning me-2"></i>1.7K</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-warning me-2"></i>1K</small>
                                        </div>
                                        <div class="blog-content-overlay">
                                            <div class="blog-content p-4">
                                                <div>
                                                    <a href="./package-neuquen.html" class="h4 text-white"> Villa la Angostura - Neuquén</a>
                                                </div>
                                                <div class="my-3">
                                                    <a href="./package-neuquen.html" class="btn btn-primary rounded-pill py-2 px-4 d-flex justify-content-center">
                                                        Leer Más
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-item rounded container-paquete">
                                    <div class="blog-img">
                                        <div class="blog-img-inner rounded">
                                            <img class="img-fluid w-100" src="../img/salta.jpg" alt="Paquete Salta">
                                        </div>
                                        <div class="blog-info d-flex align-items-center">
                                            <small class="flex-fill text-center text-white py-2"><i class="fa fa-calendar-alt text-warning me-2"></i>28 Jan 2050</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-thumbs-up text-warning me-2"></i>1.7K</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-warning me-2"></i>1K</small>
                                        </div>
                                        <div class="blog-content-overlay">
                                            <div class="blog-content p-4">
                                                <div>
                                                    <a href="./package-salta.html" class="h4 text-white"> Cafayate - Salta</a>
                                                </div>
                                                <div class="my-3">
                                                    <a href="./package-salta.html" class="btn btn-primary rounded-pill py-2 px-4 d-flex justify-content-center">
                                                        Leer Más
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-item rounded container-paquete">
                                    <div class="blog-img">
                                        <div class="blog-img-inner rounded">
                                            <img class="img-fluid w-100" src="../img/bariloche.jpg" alt="Paquete Bariloche">
                                        </div>
                                        <div class="blog-info d-flex align-items-center">
                                            <small class="flex-fill text-center text-white py-2"><i class="fa fa-calendar-alt text-warning me-2"></i>28 Jan 2050</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-thumbs-up text-warning me-2"></i>1.7K</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-warning me-2"></i>1K</small>
                                        </div>
                                        <div class="blog-content-overlay">
                                            <div class="blog-content p-4">
                                                <div>
                                                    <a href="./package-bariloche.html" class="h4 text-white"> Bariloche - Río Negro</a>
                                                </div>
                                                <div class="my-3">
                                                    <a href="./package-bariloche.html" class="btn btn-primary rounded-pill py-2 px-4 d-flex justify-content-center">
                                                        Leer Más
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Paquetes End -->
            </div>
        </div>
      
        <div class="container-fluid blog py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5">
                    <h3 class="mb-0">Paquetes Exterior</h3>             
                </div>

                <!-- Packages -->
                <div class="container-fluid blog">
                    <div class="container">
                        <div class="row g-4 justify-content-center">
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-item rounded container-paquete">
                                    <div class="blog-img">
                                        <div class="blog-img-inner rounded">
                                            <img class="img-fluid w-100" src="../img/amsterdam.jpg" alt="Paquete Amsterdam">
                                        </div>
                                        <div class="blog-info d-flex align-items-center">
                                            <small class="flex-fill text-center text-white py-2"><i class="fa fa-calendar-alt text-warning me-2"></i>28 Jan 2050</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-thumbs-up text-warning me-2"></i>1.7K</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-warning me-2"></i>1K</small>
                                        </div>
                                        <div class="blog-content-overlay">
                                            <div class="blog-content p-4">
                                                <div>
                                                    <a href="./package-amsterdam.html" class="h4 text-white"> Amsterdam - Paises Bajos</a>
                                                </div>
                                                <div class="my-3">
                                                    <a href="./package-amsterdam.html" class="btn btn-primary rounded-pill py-2 px-4 d-flex justify-content-center">
                                                        Leer Más
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-item rounded container-paquete">
                                    <div class="blog-img">
                                        <div class="blog-img-inner rounded">
                                            <img class="img-fluid w-100" src="../img/venecia.jpg" alt="Paquete Venecia">
                                        </div>
                                        <div class="blog-info d-flex align-items-center">
                                            <small class="flex-fill text-center text-white py-2"><i class="fa fa-calendar-alt text-warning me-2"></i>28 Jan 2050</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-thumbs-up text-warning me-2"></i>1.7K</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-warning me-2"></i>1K</small>
                                        </div>
                                        <div class="blog-content-overlay">
                                            <div class="blog-content p-4">
                                                <div>
                                                    <a href="./package-venecia.html" class="h4 text-white"> Venecia - Italia</a>
                                                </div>
                                                <div class="my-3">
                                                    <a href="./package-venecia.html" class="btn btn-primary rounded-pill py-2 px-4 d-flex justify-content-center">
                                                        Leer Más
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="blog-item rounded container-paquete">
                                    <div class="blog-img">
                                        <div class="blog-img-inner rounded">
                                            <img class="img-fluid w-100" src="../img/suiza.jpg" alt="Paquete Suiza">
                                        </div>
                                        <div class="blog-info d-flex align-items-center">
                                            <small class="flex-fill text-center text-white py-2"><i class="fa fa-calendar-alt text-warning me-2"></i>28 Jan 2050</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-thumbs-up text-warning me-2"></i>1.7K</small>
                                            <small class="btn-hover flex-fill text-center text-white py-2"><i class="fa fa-comments text-warning me-2"></i>1K</small>
                                        </div>
                                        <div class="blog-content-overlay">
                                            <div class="blog-content p-4">
                                                <div>
                                                    <a href="./package-suiza.html" class="h4 text-white"> Ginebra - Suiza</a>
                                                </div>
                                                <div class="my-3">
                                                    <a href="./package-suiza.html" class="btn btn-primary rounded-pill py-2 px-4 d-flex justify-content-center">
                                                        Leer Más
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Paquetes End -->
            </div>
        </div>

{% endblock %}